/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}


/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
}

.about-section-one {
  flex: 1;
}

.about-section-two {
  flex: 1;
  padding: 20px;
  justify-content: right;
}

.about-section-two li {
  margin: 10px;
}


.about-section h3 {
  justify-content: center;
}

.about-section p {
  justify-content: left;
}

.portfolio-group {
  display: flex;
  flex: 1;
  justify-content: center;
}

#portfolio h2 {
  justify-content: center;
}

.portfolio-item {
  margin: 10px;
}

.portfolio-item p {
  font-size: 14px;
}

.contact-content {
  padding-left: 35%;
  text-align: left;
}

.contact-heading {
  text-align: center;
}

